{include file='common:head'}
<style>
    .layui-container{
        width: 100%;
    }
    .fast-action{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .fast-action li{
        width: 24%;
        text-align: center;
    }
    .fast-action li a i{
        display: block;
        height: 70px;
        line-height: 70px;
        font-size: 48px;
    }
    .order-list ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .order-list ul li{
        width: 19.2%;
        padding: 0 20px;
        border-bottom: 3px solid #2F4056;
        border-radius: 2px;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .order-list ul li:nth-child(1){
        border-bottom: 3px solid #5FB878;
    }
    .order-list ul li:nth-child(2){
        border-bottom: 3px solid #5FB878;
    }
    .order-list ul li:nth-child(4){
        border-bottom: 3px solid #FFB800;
    }
    .order-list ul li:nth-child(5){
        border-bottom: 3px solid #2F4056;
    }
    .order-list .ol-head{
        line-height: 32px;
        border-bottom: 1px dashed #ccc;
        padding: 10px 0;
    }
    .ol-head h3{
        font-size: 21px;
        font-weight: 700;
    }
    .ol-head p{
        color: #888;
        display: inline-block;
    }

    .ol-body{
        line-height: 48px;
        color: #888;
    }
    .ol-body span,.ol-head span{
        font-size: 21px;
        color: #444;
        margin-right: 5px;
    }
    .green{
        color: #5FB878;
    }
    .red{
        color: #FF5722;
    }

</style>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1283160_kfsc3aamc2.css">
<div class="layui-container mt20">
    <div class="layui-row">
        <div class="layui-col-md12 layui-card">
            <div class="layui-card-header">快捷操作</div>
            <div class="layui-card-body">
                <ul class="fast-action">
                    <li>
                        <a href="{:url('order/index')}">
                            <i class="fa fa-icon-test"></i>
                            <span>订单查看</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('withdraw/index')}">
                            <i class="fa fa-shenhe"></i>
                            <span>提现订单</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('Notice/index')}">
                            <i class="fa fa-gonggao"></i>
                            <span>系统公告</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('business/index')}">
                            <i class="fa fa-Business-Man"></i>
                            <span>商户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('setting/index')}">
                            <i class="fa fa-peizhi"></i>
                            <span>免签配置</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="layui-container mt20">
    <div class="order-list">
        <ul>
            <li>
                <div class="ol-head">
                    <h3>我的盈利</h3>
                    <p>总共收入金额</p>
                </div>
                <div class="ol-body">
                    <span>{$list.total}</span>元
                </div>
            </li>
            {volist name="$list.withdraw" id="tx"}
            <li>
                <div class="ol-head">
                    {if condition="$tx.status eq 0"}
                        <h3>待处理提现申请</h3>
                    {else}
                        <h3>已处理提现申请</h3>
                    {/if}
                    <span>{$tx.amount|default="0"}</span><p>提现金额</p>
                </div>
                <div class="ol-body">
                    <span>{$tx.num|default="0"}</span>条订单
                </div>
            </li>
            {/volist}
            {volist name="$list.passageway" id="w"}
            <li>
                <div class="ol-head">
                    <h3>{$w.name}</h3>
                    <span>{$w.amount}</span><p>今日交易</p>
                </div>
                <div class="ol-body">
                    <span>{$w.num}</span>设备
                </div>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<div class="layui-container mt20">
    <div class="layui-row">
        <div class="layui-col-md12 layui-card">
            <div class="layui-card-header">订单概况</div>
            <div class="layui-card-body" id="main" style="height: 400px">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script type="text/javascript" src="/echarts/echarts.min.js"></script>
<script>
    var myDate = new Date();
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '今日支付平台订单实时概况'
        },
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:['订单总金额','完成订单金额']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'订单总金额',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[120, 132, 101, 134, 90, 230, 210]
            },
            {
                name:'完成订单金额',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    function reQu()
    {
        $.post('ajax_order',{type:'begin'},function ( res ) {
            console.log( res )
            if( res.code === 1 ){
                option.xAxis[0].data = res.data.time;
                option.series[0].data = res.data.time;
                option.series[1].data = res.data.time;
            }
        })
    }
    setInterval(function () {
        // 基于准备好的dom，初始化echarts实例
        reQu();
        var myChart = echarts.init(document.getElementById('main'));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    },5000)
    reQu();
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

</script>