{include file='common:head'}
<style>
    .layui-container{
        width: 100%;
    }
    .fast-action{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .fast-action li{
        width: 24%;
        text-align: center;
    }
    .fast-action li a i{
        display: block;
        height: 70px;
        line-height: 70px;
        font-size: 48px;
    }
    .order-list ul{
        padding: 20px;
    }
    .order-list ul li{
        line-height: 32px;
    }
    .green{
        color: #5FB878;
    }
    .red{
        color: #FF5722;
    }
</style>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1283160_phlqj68hbw.css">
<div class="layui-container mt20">
    <div class="layui-row">
        <div class="layui-col-md9 layui-card">
            <div class="layui-card-header">快捷操作</div>
            <div class="layui-card-body">
                <ul class="fast-action">
                    <li>
                        <a href="{:url('order/index')}">
                            <i class="fa fa-icon-test"></i>
                            <span>订单查看</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('withdraw/index')}">
                            <i class="fa fa-shenhe"></i>
                            <span>提现订单</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('Notice/index')}">
                            <i class="fa fa-gonggao"></i>
                            <span>系统公告</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('business/index')}">
                            <i class="fa fa-Business-Man"></i>
                            <span>商户管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md3">

        </div>
    </div>
</div>
<div class="layui-container mt20">
    <div class="layui-row">
        <div class="layui-col-md9 layui-card">
            <div class="layui-card-header">订单概况</div>
            <div class="layui-card-body order-list">
                <ul class="layui-col-md4">
                    <li>今日订单数: <span> {$order.t.total}</span></li>
                    <li>今日完成订单数: <span> {$order.t.finish}</span></li>
                    <li>今日未完订单数: <span> {$order.t.unFinish}</span></li>
                    <li>今日完成订单金额: <span class="red"> {$order.t.amount}</span></li>
                    <li>今日未完成订单金额: <span class="green"> {$order.t.unAmount}</span></li>
                </ul>
                <ul class="layui-col-md4">
                    <li>昨日订单数: <span> {$order.y.total}</span></li>
                    <li>昨日完成订单数: <span> {$order.y.finish}</span></li>
                    <li>昨日未完订单数: <span> {$order.y.unFinish}</span></li>
                    <li>昨日完成订单金额: <span class="red"> {$order.y.amount}</span></li>
                    <li>昨日未完成订单金额: <span class="green"> {$order.y.unAmount}</span></li>
                </ul>
                <ul class="layui-col-md4">
                    <li>总订单数: <span> {$order.a.total}</span></li>
                    <li>总完成订单数: <span> {$order.a.finish}</span></li>
                    <li>总未完订单数: <span> {$order.a.unFinish}</span></li>
                    <li>总完成订单金额: <span class="red"> {$order.a.amount}</span></li>
                    <li>总未完成订单金额: <span class="green"> {$order.a.unAmount}</span></li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md3">

        </div>
    </div>
</div>
<div class="layui-container mt20">
    <div class="layui-row">
        <div class="layui-col-md9 layui-card">
            <div class="layui-card-header">订单概况</div>
            <div class="layui-card-body" id="main" style="height: 400px">

            </div>
        </div>
        <div class="layui-col-md3">

        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script type="text/javascript" src="/echarts/echarts.min.js"></script>
<script>
    var myDate = new Date();
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '今日支付平台订单实时概况'
        },
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:['订单总金额','完成订单金额']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'订单总金额',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[120, 132, 101, 134, 90, 230, 210]
            },
            {
                name:'完成订单金额',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    function reQu()
    {
        $.post('ajax_order',{type:'begin'},function ( res ) {
            console.log( res )
            if( res.code === 1 ){
                option.xAxis[0].data = res.data.time;
                option.series[0].data = res.data.time;
                option.series[1].data = res.data.time;
            }
        })
    }
    setInterval(function () {
        // 基于准备好的dom，初始化echarts实例
        reQu();
        var myChart = echarts.init(document.getElementById('main'));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    },5000)
    reQu();
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

</script>