@charset "utf-8";
*{
    box-sizing: border-box;
}
html, body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}
*, :active, :focus, :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important;
}
*, a, button, i, input {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}