{include file='common:head'}

<div class="layui-card">
    <div class="layui-card-header">
        <a class="layui-btn" href="javascript:openIframe({'title':'新增代理'});"> <i class="layui-icon layui-icon-add-1"></i>新增代理</a>
    </div>
    <form class="layui-form" action="">
        <div class="lay-all">
            <div class="layui-block" style="padding: 20px">
                <div class="layui-inline">
                    <label class="layui-form-label">代理名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="l-name" autocomplete="off" placeholder="请输入代理名" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="l-phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">代理状态</label>
                    <div class="layui-input-inline">
                        <select name="e-status">
                            <option value="">请选择</option>
                            <option value=0>禁用</option>
                            <option value=1>启用</option>
                        </select>
                    </div>
                </div>

                <button class="layui-btn" lay-filter="query" lay-submit="">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>
                <button class="layui-btn" lay-filter="clear" lay-submit="">
                    <i class="layui-icon layui-icon-circle"></i>清空条件
                </button>
            </div>
        </div>
    </form>
    <div class="layui-card-body">
        <table class="layui-hide" id="table" lay-filter="text"></table>
    </div>
</div>
<table class="layui-hide" id="menu-table" lay-filter="text"></table>
</body>

<script type="text/html" id="status">
    <div style="width: 30%;float: left">
        {{#  if(d.status == 1){ }}
        <a class="layui-btn layui-btn-normal layui-btn-xs status-toggle" data-value="0" data-id="{{ d.id }}" data-notice="禁用|启用">启用</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-danger layui-btn-xs status-toggle" data-value="1" data-id="{{ d.id }}" data-notice="禁用|启用">禁用</a>
        {{#  } }}
    </div>
    <a href="javascript:openIframe({content:'passageway.html?id={{d.id}}',title:'查看代理{{d.name}}通道',area:['80%','80%']});" class="layui-btn layui-btn-xs" title="配置通道">
        <i class="layui-icon layui-icon-set-fill"></i>
    </a>
    <a href="javascript:openIframe({content:'index.html?id={{d.id}}',title:'查看代理{{d.name}}的下级代理',area:['95%','95%']});" class="layui-btn layui-btn-xs" title="下级代理">
        <i class="layui-icon layui-icon-user"></i>
    </a>
    <a href="javascript:openIframe({content:'business_list.html?id={{d.id}}',title:'查看代理{{d.name}}的下级商户',area:['95%','95%']});" class="layui-btn layui-btn-xs" title="下级商户">
        <i class="layui-icon layui-icon-group"></i>
    </a>
</script>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-xs layui-btn-normal btn-update" data-id="{{ d.id }}" title="修改数据">
        <i class="layui-icon layui-icon-edit"></i>
    </a>
    <a class="layui-btn layui-btn-xs layui-btn-danger btn-remove" data-id="{{ d.id }}" title="移除数据">
        <i class="layui-icon layui-icon-delete"></i>
    </a>

</script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script>
    layui.use(['form', 'laydate', 'table'], function () {
        var form = layui.form,
            table = layui.table;


        //监听查询提交
        form.on('submit(query)', function (data) {
            table.reload('LogList', {
                url: '{:url("")}',
                where: data.field
            });
            return false;
        });

        form.on('submit(clear)', function () {
            window.refresh();
            return false;
        });

        //表格数据渲染
        table.render({
            elem: '#menu-table',
            method: 'post',
            url: '{:url("")}',
            limit: 10,
            id: 'LogList',
            limits: [5, 10, 15, 20, 50, 100], //每页条数的选择项
            loading: true,
            where: {order: 'id desc', id: '{$id}'},
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [
                [
                    {field: 'id', title: 'ID'},
                    {field: 'name', title: '名称'},
                    {field: 'phone', title: '手机号'},
                    {field: 'top_name', title: '上级代理'},
                    {field: 'status', title: '状态', toolbar: '#status'},
                    {field: 'opera',title: '操作',toolbar:'#barDemo'},
                ]
            ],
            page: true,

            response: {
                statusCode: "1" //重新规定成功的状态码为 200，table 组件默认为 0
            },
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.list//解析数据列表
                };
            }
        });
    })
</script>
</html>