<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>协议</title>
    <link rel="stylesheet" type="text/css" href="/static/index/static/public.css">
    <style>
        #banner{height:1.6rem;background-image:url("/static/index/assets/api_bc.png");background-size:100% 100%;text-align:center;}
        .banner-title{padding:0.57rem 0 0.12rem 0;font-size: 0.18rem;font-family: PingFang-SC-Medium;font-weight:500;color:#fff;}
        .banner-desc{font-size:0.12rem;font-family:PingFang-SC-Regular;font-weight: 400;color:rgba(255,255,255,0.8);letter-spacing:0.05rem;}
        #agreement{width:6rem;padding:0.4rem 0;margin:0 auto;}
        #agreement h1{font-size:16px;margin-bottom: 15px;}
        #agreement h2{font-size:14px;margin-bottom: 15px;}
        #agreement p{font-size: 12px;margin-bottom:10px;}
    </style>
    <script>
        function resizeFontSize(){
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 960*100 + 'px';
        }
        resizeFontSize();
        window.onresize=function () {
            resizeFontSize();
        }
    </script>
</head>
<p>
<div id="banner">
    <div id="header" v-cloak>
        <header-component post-class="transparentHeader"></header-component>
    </div>
    <p class="banner-title">平台协议</p>
    <p class="banner-desc">-Platform agreement-</p>
</div>
<div id="agreement">
        <h1>得瑞支付特约商户平台合作协议</h1>
        <p>本协议为得瑞支付有限公司特约商户合作协议通用版本，具有合同法律效力，本协议中甲方即为“您”，乙方为“得瑞支付有限公司”，请认真阅读以下条款：</p>

       <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

<p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

       <h2>（二）术语定义</h2>

        <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

        <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

        <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

        <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

        <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

        <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

<p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

<p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>

<h1> 一、合作内容及术语定义</h1>

<h2>（一）合作内容</h2>

<p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

<p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

<h2>（二）术语定义</h2>

<p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

<p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

<p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

<p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

<p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

<p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

<p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

<p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>
    <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

    <p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

    <h2>（二）术语定义</h2>

    <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

    <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

    <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

    <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

    <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

    <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

    <p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

    <p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>
    <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

    <p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

    <h2>（二）术语定义</h2>

    <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

    <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

    <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

    <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

    <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

    <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

    <p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

    <p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>
    <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

    <p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

    <h2>（二）术语定义</h2>

    <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

    <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

    <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

    <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

    <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

    <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

    <p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

    <p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>
    <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

    <p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

    <h2>（二）术语定义</h2>

    <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

    <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

    <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

    <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

    <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

    <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

    <p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

    <p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>
    <h1> 一、合作内容及术语定义</h1>

    <h2>（一）合作内容</h2>

    <p>1、乙方供甲方在合法经营范围之内为用户提供银行卡受理业务，同时乙方为甲方提供此受理业务的清结算服务。网址：www.derui.cn（以下称“得瑞业务网站”）。</p>

    <p>2、乙方为甲方在合法经营范围之内提供“二维码支付”服务，包括但不限于扫码支付、被扫支付等。</p>

    <h2>（二）术语定义</h2>

    <p>1、POS收单业务：是指甲方按约定受理银行卡并与持卡人达成交易后，乙方为甲方提供交易资金结算服务的行为。</p>

    <p>2、银行卡：指国内各发卡机构核发的符合联网联合规范的贷记卡、准贷记卡、借记卡。</p>

    <p>3、交易服务费：是指甲方使用乙方提供的POS收单业务时产生的交易服务费用。</p>

    <p>4、POS终端维护费：甲方向乙方支付的POS终端维护的费用。</p>

    <p>5、签购单：指收单机构指定的用于持卡人消费签账时签署的格式单据。</p>

    <p>6、调单：是指因持卡人或发卡机构对已被结算的交易有疑问，在规定的时限内向收单机构提出调阅交易单据的过程。</p>

    <p>7、退单：是指发卡机构由于对收单机构请款交易的拒绝或对原始交易的疑问而向收单机构提出的拒绝付款。</p>

    <p>8、退货：是指甲方因商品退回或服务取消，将已扣款项退还持卡人原扣款账户若持卡人原银行卡账户已撤销的，应当退至持卡人指定的本人其他银行账户的过程。</p>

</div>
</body>
<script src="/static/index/public/vue.min.js"></script>
<script src="/static/index/js/public.js"></script>
<script>
    generateHeader();
    generateFooter();
</script>
</html>