{include file='common:head'}
<div class="layui-card mt20">
    <div class="layui-card-header">账户信息</div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="250">
            </colgroup>
            <tbody>
                <tr><td class="align-right">商户号</td><td>{$user.shop_sn}</td></tr>
                <tr><td class="align-right">商户名</td><td>{$user.name}</td></tr>
                <tr><td class="align-right">登录名</td><td>{$user.login_name}</td></tr>
                <tr><td class="align-right">手机号</td><td>{$user.mobile}</td></tr>
                <tr><td class="align-right">入驻时间</td><td>{$user.create_time}</td></tr>
                <tr><td class="align-right">可用余额</td><td style="color: green;">{$user.money}</td></tr>
                <tr><td class="align-right">冻结余额</td><td style="color: #f00;">{$user.frozen_money}</td></tr>
                <tr><td class="align-right">最近登录时间</td><td>{$user.last_login_time}</td></tr>
                <tr><td class="align-right">最近登录IP</td><td>{$user.last_login_ip}</td></tr>
                <tr><td class="align-right">最近登录地址</td><td>{:GetIpLookup($user.last_login_ip)}</td></tr>
                <tr>
                    <td class="align-right">证书下载</td>
                    <td>
                        <a href="{:url('download?type=public')}" class="layui-btn layui-btn-checked download">公钥下载</a>
                        <a href="{:url('download?type=private')}" class="layui-btn layui-btn-checked download">私钥下载</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="javascript:;" class="layui-btn layui-btn changePass">修改密码</a>
                        <a href="javascript:;" class="layui-btn layui-btn-normal safePass">设置支付安全密码</a>
                        <a href="javascript:;" class="layui-btn layui-btn-normal rsa">查看安全密钥</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    .safe{
        display: none;
    }
</style>
<script type="text/html" id="safe">
    <form class="layui-form mt20 layui-col-md10">
        <div class="layui-form-item verify">
            <label class="layui-form-label">获取验证码</label>
            <div class="layui-input-block">
                <button class="send_sms layui-btn layui-btn-primary" type="button">点击获取验证码</button>
                <span style="margin-left: 10px;">查看{$user.mobile}短信</span>
            </div>
        </div>
        <div class="layui-form-item verify">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-block">
                <input class="layui-input" name="verify" placeholder="获取到的手机验证码">
                <input type="text" name="safePass" placeholder="请设置您的支付安全密码" class="safe layui-input">
            </div>
        </div>
        <div class="layui-form-item safe">
            <label class="layui-form-label">安全密码</label>
            <div class="layui-input-block">
                <input type="text" name="safe_pass" placeholder="请设置您的支付安全密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn submitBtn_add" lay-submit lay-filter="demo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script>
    $('.rsa').click(function () {
        layui.use(['layer'],function () {
            var layer = layui.layer;
            layer.open({
                type : 2,
                content : "{:url('appKey')}",
                title : "查看安全密钥",
                area : ["600px","400px"],
                closeBtn: 2,
            })
        })
    })
    $('.changePass').click(function () {
        layui.use('layer',function () {
            layer = layui.layer;
            layer.ready(function () {
                var cs = layer.load(2);
                layer.prompt({
                    formType: 1,
                    title: '请输入原密码',
                    shade: 0
                }, function(value, index, elem){
                    //判断原密码是否一致
                    $.post('',{act:'ckPass',value:value},function (res) {
                        if( res.code === 1 ){
                            layer.close(index);
                            layer.prompt({
                                formType:1,
                                title:'重新设置密码',
                                shade: 0
                            },function ( value, index) {
                                $.post("",{act:'rePass',value:value},function (res) {
                                    if( res.code === 1 ){
                                        toastr.success( res.msg ,function () {
                                            setTimeout(function () {
                                                layer.close( index );
                                            },1000)
                                        });
                                    } else {
                                        toastr.error( res.msg );
                                    }
                                })
                            })
                        } else {
                            toastr.error( res.msg );
                        }
                    })

                });
                layer.close( cs );
            })
        })
    });
    // $('.download').click(function () {
    //     $.post('download','',function (res) {
    //         console.log(res);
    //     })
    // })
    $('.safePass').click(function () {
        layui.use(['layer'],function () {
            var layer = layui.layer;
            layer.open({
                type : 1,
                title: "设置安全密码",
                area: ['600px','300px'],
                shade: 0,
                content:$('#safe').html()
            })
        })
    })
    $(document).ready(function () {
        var m = 60;
        $(document).on( "click", ".send_sms",function () {
            var that = $(this);
            that.removeClass("layui-btn-primary").addClass("layui-btn-disabled").attr("disabled", true);
            $.post('/sms.html',{mobile:"{$user.mobile}"},function (res) {
                console.log( res )
                if( res.code !== 1 ){
                    toastr.error( res.msg );
                }
            })
            var intval = setInterval(function () {
                m--;
                if( m < 0 ){
                    clearInterval( intval );
                    m = 60;
                    that.removeClass("layui-btn-disabled").addClass("layui-btn-primary").attr("disabled", false);
                    that.html( "获取验证码" );
                } else {
                    that.html( "重新获取("+m+")");
                }
            },1000)
        })
    })

    layui.use('form',function () {
        form = layui.form;
        form.on("submit(demo)",function ( data ) {
            console.log( data );
            data.field.act="safePass";
            $.post( "",data.field,function (res) {
                console.log( res )
                if( res.code === 1 ){
                    toastr.success( res.msg,function () {
                        setTimeout( function () {
                            $('.verify').hide();
                            $('.safe').show();
                            if( res.data == 1){
                                layer.closeAll();
                            }
                        },1200)
                    });
                } else {
                    toastr.error( res.msg );
                }

            })
            return false;
        })
    })
</script>