{include file='common:head'}
<div class="layui-card mt20">
    <div class="layui-card-header">账户信息</div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="250">
            </colgroup>
            <tbody>
                <tr><td class="align-right">商户号</td><td>{$user.shop_sn}</td></tr>
                <tr><td class="align-right">商户名</td><td>{$user.name}</td></tr>
                <tr><td class="align-right">登录名</td><td>{$user.login_name}</td></tr>
                <tr><td class="align-right">手机号</td><td>{$user.mobile}</td></tr>
                <tr><td class="align-right">入驻时间</td><td>{$user.create_time}</td></tr>
                <tr><td class="align-right">可用余额</td><td style="color: green;">{$user.money}</td></tr>
                <tr><td class="align-right">冻结余额</td><td style="color: #f00;">{$user.frozen_money}</td></tr>
                <tr><td class="align-right">最近登录时间</td><td>{$user.last_login_time}</td></tr>
                <tr><td class="align-right">最近登录IP</td><td>{$user.last_login_ip}</td></tr>
                <tr><td class="align-right">最近登录地址</td><td>{:GetIpLookup($user.last_login_ip)}</td></tr>
                <tr>
                    <td colspan="2">
                        <a href="javascript:;" class="layui-btn layui-btn changePass">修改密码</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script>
    $('.changePass').click(function () {
        layui.use('layer',function () {
            layer = layui.layer;
            layer.ready(function () {
                var cs = layer.load(2);
                layer.prompt({
                    formType: 1,
                    title: '请输入原密码',
                    shade: 0
                }, function(value, index, elem){
                    //判断原密码是否一致
                    $.post('',{act:'ckPass',value:value},function (res) {
                        if( res.code === 1 ){
                            layer.close(index);
                            layer.prompt({
                                formType:1,
                                title:'重新设置密码',
                                shade: 0
                            },function ( value, index) {
                                $.post("",{act:'rePass',value:value},function (res) {
                                    if( res.code === 1 ){
                                        toastr.success( res.msg ,function () {
                                            setTimeout(function () {
                                                layer.close( index );
                                            },1000)
                                        });
                                    } else {
                                        toastr.error( res.msg );
                                    }
                                })
                            })
                        } else {
                            toastr.error( res.msg );
                        }
                    })

                });
                layer.close( cs );
            })

        })
    })
</script>