{include file='common:head'}
<style>
.layui-layer-msg{
    display: none;
}
</style>
<form class="layui-form mt20 layui-col-xs11">
    <div class="layui-form-item">
        <label class="layui-form-label">提现金额</label>
        <div class="layui-input-block">
            <input class="layui-input" name="money" placeholder="输入提现金额，最大可提现{$user.money}" lay-verify="money">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">到账方式</label>
        <div class="layui-input-block">
            <select name="w_id" lay-verify="type">
                <option value="0">--选择到账方式--</option>
                <option value="1">支付宝</option>
                <option value="2">微信</option>
                <option value="3">银行卡</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn submitBtn_add" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script>
    layui.use(['form'], function(){
        var form=layui.form;
        //自定义验证规则
        form.verify({
            money: function(value) {
                if( value ===  "" ){
                    toastr.error( "输入申请提现金额" );
                    return "输入申请提现金额";
                }
                if( value > "{$user.money}"){
                    toastr.error( "提现金额不能超过{$user.money}" )
                    return "提现金额不能超过{$user.money}";
                }
            },
            type: function (value) {
                if( value === "0" ){
                    toastr.error( "请选择提现到账方式" );
                    return "请选择提现到账方式";
                }
            }
        });
        form.on('submit(formDemo)', function(data){
            $.post('',data.field,function (res) {
                console.log( res )
                if( res.code === 1 ){
                    toastr.success( res.msg ,function () {
                        setTimeout( function () {
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index);
                        },1500)
                    });
                } else {
                    toastr.error( res.msg )
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
