{include file='common:head'}
<table class="layui-hide" id="menu-table" lay-filter="text"></table>
</body>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-danger btn-delete" data-id="{{ d.id }}" title="彻底删除">
        <i class="layui-icon layui-icon-delete"></i>
    </a>
    <a class="layui-btn layui-btn-xs btn-reduction" data-id="{{ d.id }}" title="数据还原">
        <i class="layui-icon layui-icon-refresh"></i>
    </a>
</script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/toastr/toastr.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script>
    //数据还原
    $(document).on('click','.btn-reduction',function () {
        var id = $(this).data('id');
        var that = $(this).parents('tr');
        $.post('reduction',{id:id},function (res) {
            if( res.code === 1 ){
                toastr.success( res.msg, function () {
                    that.remove();
                })
            } else {
                toastr.error( res.msg )
            }
        })
    })

    layui.use(['table','tree'], function() {
        var table = layui.table;
        var tree = layui.tree;
        //表格数据渲染
        table.render({
            elem: '#menu-table',
            method: 'post',
            url: '{:url("index")}',
            limit: 10,
            limits: [5,10,15,20,50,100], //每页条数的选择项
            loading: true,
            param: {'parent_id':0},
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [
                [
                    {field: 'id',title: 'ID',templet:'#tree'},
                    {field: 'table',title: '来源表单'},
                    {field: 'desc',title: '描述信息'},
                    {field: 'rid',title: '数据编号'},
                    {field: 'create_time',title: '添加时间'},
                    {field: 'operation',title: '操作',toolbar: '#barDemo'}
                ]
            ],
            page: true,
            response: {
                statusCode: "1" //重新规定成功的状态码为 200，table 组件默认为 0
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.list//解析数据列表
                };
            }
        });
    })
</script>
</html>